body {
  margin: 0;
  font-family: 'Source Sans Pro';
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.main_chart_container {
  /* min-width: 1200px; */
  display: grid;
  grid-template-areas:"part1 part2 part3"
                      "part4 part4 part4";
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
  row-gap: 2%;
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  /* height: 100vh; */
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}
.barChart {
  grid-area: part1;
  padding: 0 3%;
  margin: 0 1%;  
}
.pieChart {
  grid-area: part2;
  padding: 0 3%;
  margin: 0 1%;
}

.racing_chart_container {
  /* max-width: 1600px; */
  display: grid;
  grid-template-columns: repeat(2, minmax(650px, 1fr));
  column-gap: 6%;
  /* row-gap: 2%; */
  grid-auto-rows: minmax(150px, auto);
  /* margin: 1%; */
  /* height: 100vh; */
  text-align: center;
  box-sizing: border-box;
}

.svgContainer {
  /* display: flex; */
  /* flex-direction: column;
  align-items: stretch;
  justify-content: center; */
  padding: 0 30px;
}

.main_svg {
  background: #f9fbe7;
  overflow: visible;
  display: block;
  width: 100%;
  height: 45vh;
}

.racing_svg {
  background: #fff3e0;
  overflow: visible;
  display: block;
  width: 100%;
  height: 85vh;
}

.btn-container {
  display: flex;
  justify-content: center;
}
button {
  width: 100px;
  border: 1px solid black;
  margin: 1%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #e8f5e9;
}

.nav .title a{
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  margin: 0;
}

.navbar-nav .navbar-nav-li{
  list-style-type: none;
  margin-right: 1%;
  width: max-content;
}

.navbar-nav .navbar-nav-li a{
  display: block;
  color: rgb(104, 104, 104);
  text-align: center;
  text-decoration: none;
}
.navbar-nav .navbar-nav-li a:hover{
  background-color: rgb(255, 222, 222);
}